{% extends "common/layout.html.twig" %}

{% block metaTitle %}Page introuvable{% endblock %}

{% block breadcrumb %}
    <li>Page inconnue</li>
{% endblock %}

{% block content %}
        
        <h3>Accès interdit</h3>

        Vous n&apos;êtes pas autorisé à accéder à cette page.
{% endblock %}